.clients {
  button {
    margin-bottom: 3.1875rem;
  }
  @include breakpoint-up(medium) {
    display: flex;
  }

  &__text {
    @include breakpoint-up(medium) {
      flex: 50%;
      order: 1;
      padding-right: 4.3125rem;
    }
    h2 {
      font-size: $fontLg;
      font-weight: map-get($fontWeights, "bold");
      line-height: 2.625rem;
      letter-spacing: -0.36px;
      text-align: left;
      margin-bottom: 2.8125rem;
    }

    li {
      font-size: $bodyText1;
      line-height: 1.875rem;
      margin-bottom: 2rem;

      img {
        padding-right: 0.75rem;
      }

      @include breakpoint-up(medium) {
        width: 21.1875rem;
      }

      @include breakpoint-up(large) {
        width: 24.875rem;
      }
    }
  }
}
