.project-hero {
  margin-bottom: 7rem;
  @include breakpoint-up(medium) {
    margin-bottom: 6rem;
  }

  &__image {
    position: relative;
    // background-image: url("");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 10.75rem;
    margin-bottom: 1.9375rem;

    @include breakpoint-up(medium) {
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: 23.375rem;
    }

    @include breakpoint-up(large) {
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: 34.25rem;
    }
  }
}

.project-details {
  margin-bottom: 2.4375rem;

  &__text {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    hr {
      @include breakpoint-up(large) {
        width: 43.0625rem;
        grid-column: 1;
      }
    }

    h1 {
      font-size: $fontXlg;
      font-weight: map-get($fontWeights, "bold");
      line-height: 3.125rem;
      letter-spacing: -0.45px;
      margin-bottom: 2.5rem;

      @include breakpoint-up(medium) {
        max-width: 24.25rem;
      }
    }

    h2 {
      font-size: $fontLg;
      font-weight: map-get($fontWeights, "bold");
      line-height: 2.625rem;
      letter-spacing: -0.36px;
      text-align: left;
      margin-bottom: 2.8125rem;

      @include breakpoint-up(large) {
        grid-column: 1;
      }
    }

    p {
      font-size: $bodyText2;
      line-height: 1.875rem;
      margin-bottom: 2rem;
      width: 19.4375rem;

      @include breakpoint-up(medium) {
        width: 43.0625rem;
      }
      @include breakpoint-up(large) {
        font-size: $bodyText1;
        width: 39.6875rem;
        grid-column: 2;
      }
    }

    .statistics {
      grid-column: 1;
      margin-bottom: 2.8125rem;

      @include breakpoint-up(large) {
        width: 20rem;
      }

      p {
        display: inline;
        font-size: $bodyText2;
        font-weight: map-get($fontWeights, "bold");
        color: $grayishDarkBlue;
        line-height: 1.875rem;

        @include breakpoint-up(medium) {
          font-size: $bodyText1;
        }
      }

      .statistics__stat {
        color: $darkBlue;
        font-weight: map-get($fontWeights, "regular");
        font-size: $bodyText2;

        @include breakpoint-up(medium) {
          font-size: $bodyText1;
        }
      }

      &__section {
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

.project-story {
  margin-bottom: 7rem;

  @include breakpoint-up(medium) {
    margin-bottom: 6rem;
  }

  .project-section-header {
    h2 {
      font-size: $fontLg;
      font-weight: map-get($fontWeights, "bold");
      line-height: 2.625rem;
      letter-spacing: -0.36px;
      text-align: left;
      margin-bottom: 2.8125rem;

      @include breakpoint-up(large) {
        grid-column: 1;
      }
    }
    h3 {
      font-size: $fontMd;
      font-weight: map-get($fontWeights, "regular");
      line-height: 2.625rem;
      letter-spacing: -0.29px;
      text-align: left;
      margin-bottom: 2.5rem;
    }
    .project-section-text {
      font-size: $bodyText2;
      line-height: 1.875rem;
      margin-bottom: 2rem;

      @include breakpoint-up(medium) {
        font-size: $bodyText1;
      }
    }

    .project-section-ul-text {
      font-size: $bodyText2;
      line-height: 1.875rem;
      margin-bottom: 1rem;

      @include breakpoint-up(medium) {
        font-size: $bodyText1;
      }
    }

    .project-section-li {
      list-style: disc;
      margin-bottom: 1rem;
      line-height: 1.875rem;
      margin-left: 2rem;
      padding-left: 1rem;

      &:last-child {
        margin-bottom: 1.875rem;
      }
    }
    .glider-contain {
      width: 90%;
      margin-bottom: 2.5rem;
    }

    .glider-prev,
    .glider-next {
      color: $darkBlue;
      font-size: 3.75rem;
    }
    .glider-prev {
      left: -2.5rem;

      &.disabled {
        color: $grayishDarkBlue;
        opacity: 0.35rem;
      }
    }
    .glider-next {
      right: -2.5rem;

      &.disabled {
        color: $grayishDarkBlue;
        opacity: 0.35rem;
      }
    }

    .glider-dots {
      padding: 1rem;
    }

    .glider-dot {
      background-color: $grayishDarkBlue;
      height: 1rem;
      width: 1rem;

      @include breakpoint-up(large) {
        height: 1.2rem;
        width: 1.2rem;
      }

      &.active {
        background-color: $cyan;
      }

      &:hover {
        background-color: $cyan;
      }
    }
  }
}

.feature-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 4rem;
  row-gap: 2rem;
  margin-bottom: 2.8125rem;

  @include breakpoint-up(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint-up(large) {
    grid-template-columns: repeat(4, 1fr);
  }

  .feature-icons {
    fill: $grayishDarkBlue;
    height: 3rem;
    width: 3rem;
  }

  .feature-item {
    &__icon {
      margin-bottom: 1rem;
    }

    &__title {
      font-size: $fontSm;
      font-weight: map-get($fontWeights, "bold");
      line-height: 2.625rem;
      letter-spacing: -0.29px;
      text-align: left;
      margin-bottom: 1rem;
    }

    &__description {
      font-size: $bodyText2;
      line-height: 1.875rem;
      margin-bottom: 2rem;

      @include breakpoint-up(medium) {
        font-size: $bodyText1;
      }
    }
  }
}

.last-section {
  margin-bottom: 7rem;

  @include breakpoint-up(medium) {
    margin-bottom: 6rem;
  }
}

.website-btn {
  margin-top: 2.125rem;
}

.project-image {
}

.mdos-hero-image {
  background-image: url("../assets/mdosthumb.png");
}
.mdos-infographic {
  background-image: url("../assets/mdose-one-pager.png");
  height: 14.25rem;
  margin-bottom: 2.8125rem;

  @include breakpoint-up(medium) {
    height: 31.25rem;
  }
  @include breakpoint-up(large) {
    height: 46.25rem;
    // margin-bottom: 6rem;
  }
}

.bannedbooks-hero-image {
  background-image: url("../assets/alathumbnail.png");
}

.easybank-hero-image {
  background-image: url("../assets/easybank.png");
  background-position: top;
}
.socialmediadash-hero-image {
  background-image: url("../assets/socialmediadash.png");
  background-position: top;
}

.cardcomponent-hero-image {
  background-image: url("../assets/cardcomponentpng.png");
}

.chadsey-hero-image {
  background-image: url("../assets/Chadseythumbnail.png");

  @include breakpoint-up(medium) {
    height: 20.25rem;
  }
}
.pricecomponent-hero-image {
  background-image: url("../assets/interactcomponent.png");
}
.signupcomponent-hero-image {
  background-image: url("../assets/signupcomponent.png");
}
.githubjobs-hero-image {
  background-image: url("../assets/githubjobsapi.png");
  background-position: top;
}
.foodrouteproto-hero-image {
  background-image: url("../assets/foodroutedev.png");
  height: 12.75rem;

  @include breakpoint-up(medium) {
    height: 28rem;
  }

  @include breakpoint-up(large) {
    height: 41.25rem;
  }
}
.listmaker3000-hero-image {
  background-image: url("../assets/listmaker3000.png");

  @include breakpoint-up(medium) {
    height: 42rem;
  }
}
.mta-hero-image {
  background-image: url("../assets/mtathumbnail.png");

  @include breakpoint-up(large) {
    height: 30rem;
  }
}
.journeys-hero-image {
  background-image: url("../assets/Journeysthumbnail.png");

  @include breakpoint-up(large) {
    height: 26rem;
  }
}
