//Primary Colors
$cyan: #5fb4a2;
$navLinks: rgba(95, 180, 162, 0.9);
$darkBlue: #203a4c;
$grayishDarkBlue: #33323d;

//Secondary Colors
$veryLightGrey: #fafafa;
$lightGrey: #eaeaeb;
$red: #f43030;

//Typeface
$headers: "Ibarra Real Nova", sans-serif;
$body: "Public Sans", sans-serif;

//Fonts
$fontXlg: 2.8125rem; //45px
$fontLg: 2.5rem; //40px
$fontMd: 2rem; //32px
$fontSm: 1.625rem; //26px
$fontXsm: 1.125rem; //18px
$bodyText1: 1rem; //16px
$bodyText2: 0.9375rem; //15px
$form: 0.8125rem; //13px
$navButtons: 0.75rem; //12px
$formError: 0.625rem; //10px

//Font Weights
$fontWeights: (
  "regular": 400,
  "bold": 700,
);
